<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/style.css" />
    
  <title>wheathar App</title>
</head>
<body>
   <div class="main-content">

    {{>header}}
    <p>Use this site to get wheathar</p>
    <form>
       <input type="text" placeholder="country">
       <button>search</button>
       <p id="message-1"></p>
       <p id="message-2"></p>
    </form>
    </div>
    {{>footer}}
     <script src="../js/test.js"></script>
</body>
</html>
